* {
    margin: 0;
    margin-top: 5px;
    padding: 0;
}
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .move-button {
    position: absolute;
    right: 10px;
    top: 2px;
  }